.dark-modal .modal-content {
    background-color: #292b2c;
    color: white;
  }
  .dark-modal .close {
    color: white;
  }
  .light-blue-backdrop {
    background-color: #5cb3fd;
  }
  .modal-body{
    text-align: left;
    padding-left: 20%;
  }
  .addUserTitle{
      margin: 0% 40%;
  }

  .view{
    height: 80vh;
  }
  #addUserBtn{
    /* background: pink; */
    margin-left: 10%;
    margin-right: 10%;
    color: white;
    font-weight: 700;
  }
  .inlineError{
    margin-left: 25%;
    margin-top: 1%;
    color: red;
  }