.dark-modal .modal-content {
    background-color: #292b2c;
    color: white;
  }
  .dark-modal .close {
    color: white;
  }
  .light-blue-backdrop {
    background-color: #5cb3fd;
  }
  .modal-body{
    text-align: left;
    padding-left: 20%;
  }
  .addUserTitle{
      margin: 0% 40%;
  }
