<!-- <div>
    <button type="button" class="btn btn-primary"  (click) = "show()">
        vftrdftrfrcxt
    </button>
    <div class="modal fade" id="exampleModalLong"  tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle"
        aria-hidden="true">
        <div class="modal-dialog"[style.display]="showModal ? 'block' : 'none'" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    ...
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>
</div> -->
 
<!-- <div class="container">
    <h2>Modal Example</h2>
    Button to Open the Modal
    <button type="button" class="btn btn-primary" (click)="show()">
        Open modal
    </button>
    The Modal
    <div class="modal" id="myModal" [style.display]="showModal ? 'block' : 'none'">
        <div class="modal-header">
            <h4 class="modal-title">Hi there!</h4>
            <button type="button" class="close" aria-label="Close" >
                <span aria-hidden="true">&times;</span>
              </button>
        </div>
        <div class="modal-body">
            <div class="card lesson-border">
                <div class="card-body">
                    
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-outline-dark">Close</button>
        </div> 
    </div>
</div> -->
  
  <ng-template #addUser let-modal>
    <div class="modal-header">
      <div class="row addUserTitle">
        <h4 class="modal-title">Add User</h4>
      </div>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
        <form [formGroup]="userSignUp">
          <div class="form-group row">
            <label for="admission" class="col-md-3">Admission No</label>
            <input type="text" class="form-control col-md-6" id="admission" placeholder="Enter the Admission No" formControlName="user_id">
            <div class="inlineError" *ngIf="(userSignUp.get('user_id').touched || userSignUp.get('user_id').dirty) && !userSignUp.get('user_id').valid">Admission Id is mandatory</div>
        </div>
                <div class="form-group row">
                    <label for="name" class="col-md-3">Name</label>
                    <input type="text" class="form-control col-md-6" id="name" placeholder="Enter the Name" formControlName="user_name">
                    <div class="inlineError" *ngIf="(userSignUp.get('user_name').touched || userSignUp.get('user_name').dirty) && !userSignUp.get('user_name').valid">Name in mandatory</div>
                </div>
                <div class="form-group row ">
                    <label for="mobile" class="col-md-3">Mobile Number</label>
                    <input type="text" class="form-control col-md-6" id="mobile" placeholder="Mobile Number" formControlName="mobile_number">
                    <div class="inlineError" *ngIf="(userSignUp.get('mobile_number').touched || userSignUp.get('mobile_number').dirty) && !userSignUp.get('mobile_number').valid">Please enter valid mobile nummber</div>
                </div>
              <div class="form-group row">
                <label for="inputEmail4" class="col-md-3">Email</label>
                <input type="email" class="form-control col-md-6" id="inputEmail4" placeholder="Email" formControlName="email">
                <div class="inlineError" *ngIf="(userSignUp.get('email').touched || userSignUp.get('email').dirty) && !userSignUp.get('email').valid">Email is mandatory</div>
              </div>
              <div class="form-group row">
                <label for="role" class="col-md-3">role</label>
                <!-- <input type="text" class="form-control col-md-6" id="role" placeholder="dropdown"> -->
                <select class="col-md-6" id="role" formControlName="role">
                  <option selected>Choose...</option>
                  <option *ngFor="let role of roles" value="{{role}}">{{role}}</option>
                </select>
                <div class="inlineError" *ngIf="(userSignUp.get('role').touched || userSignUp.get('role').dirty) && !userSignUp.get('role').valid">Please select the User role</div>
              </div>
              <div class="form-group row">
                <label for="course" class="col-md-3">Course</label>
                <select class="col-md-6" id="course"  formControlName="course">
                  <option selected>Choose...</option>
                  <option *ngFor="let course of courses" value="{{course}}">{{course}}</option>
                </select>
                <!-- <div class="inlineError" *ngIf="(userSignUp.get('user_id').touched || userSignUp.get('user_id').dirty) && userSignUp.get('user_id').valid">Admission Id is mandatory</div> -->
                <!-- <input type="text" class="form-control col-md-6" id="course" placeholder="dropdown"> -->
              </div>
              <div class="form-group row">
                <label for="inputPassword4" class="col-md-3">Password</label>
                <input type="password" class="form-control col-md-6" id="inputPassword4" placeholder="Password" formControlName="password">
                <div class="inlineError" *ngIf="(userSignUp.get('password').touched || userSignUp.get('password').dirty) && !userSignUp.get('password').valid">Please enter the password</div>
              </div>
              <div class="form-group row">
                <label class="col-md-3"></label>
                <!-- <input type="password" class="form-control col-md-6" id="inputPassword4" placeholder="Password"> -->
                <button type="submit" class="btn btn-primary col-md-6" (click)='signUp(userSignUp)' [disabled]="!userSignUp.valid">Sign in</button>
              </div>
          </form>
    </div>
    <!-- <div class="modal-footer">
      <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
    </div> -->
  </ng-template>
  
  
  <div class="view">
    <div class="row col-md-12">
      <button id='addUserBtn' class="btn btn-primary mb-2 mr-2 col-md-4" (click)="addUserModel(addUser)">Add User</button>
    </div>
  </div> 