<div class="appContainer">
    <header>
        <div id="isqu" class="row">
            <div id="if12" class="cell">
              <div id="in7k">AKBAR IT SOLUTIONS
              </div>
            </div>
          </div>
    </header>
    <router-outlet></router-outlet>
        <!-- <app-login></app-login> -->
        <!-- <app-profile></app-profile> -->
        <!-- <div class="row pt20 pb20 navBar">
          <ul class="col-12 nav nav-tabs nav-justified" id="navBar">
              <li class="col-4 active">
                  Profile
              </li>
              <li class="col-4">
                  Student Data
              </li>
              <li class="col-4">
                  Admin
              </li>
          </ul>
      </div> -->
    <div>
    </div>
</div>
