<div class="row pt20 pb20 navBar">
          <ul #navElement class="col-12 nav nav-tabs nav-justified" id="navBar" (click)=onNavClick($event)>
              <li class="col-4" routerLink="profile" >
                  Profile
              </li>
              <li class="col-4"  routerLink="data" >
                  Student Data
              </li>
              <li class="col-4" routerLink="admin" >
                  Admin
              </li>
          </ul>
      </div> 
<div class="logout">
    <button routerLink="/login"> LOGOUT</button>
</div>
<router-outlet></router-outlet>