<div class="row pt20 pb20 navBar">
          <ul class="col-12 nav nav-tabs nav-justified" id="navBar">
              <li class="col-4 active" routerLink="profile" routerLinkActive="active">
                  Profile
              </li>
              <li class="col-4"  routerLink="data" routerLinkActive='active'>
                  Student Data
              </li>
              <li class="col-4" routerLink="admin" routerLinkActive='active'>
                  Admin
              </li>
          </ul>
      </div> 
<div class="logout">
    <button routerLink="/login"> LOGOUT</button>
</div>
<router-outlet></router-outlet>